.NavBar-container {
  background-color: rgb(161, 103, 165);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-nav ul li {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}

.logo-container img {
  width: 200px;
  border-radius: 60px;
  height: auto;
}
